<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/App/ResultRequest/">
        Name:<input type="text" name="name"><br>
        Reg.no:<input type="number" name="regno"><br>
        Phone:<input type="tel" name="phone"><br>
        Tamil<input type="number" name="tam"><br>
        English<input type="number" name="eng"><br>
        Maths<input type="number" name="mat"><br>
        Science<input type="number" name="sci"><br>
        Social<input type="number" name="soc"><br>
        <input type="submit" value="Result">
    </form>
</body>
</html>